rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{ownerId} {
      // Allow read, write, update, and delete operations only if the ownerId is the authenticated user's ID
      allow read, write, update: if request.auth.uid == ownerId;

      match /graphs/{graphId} {
        allow read, update, create, delete: if request.auth.uid == ownerId;

        match /nodes/{nodeId} {
          allow read, update, create, delete: if request.auth.uid == ownerId;
        }
      }
    }
  }
}
