.input__body {
  display: block;
  border: none;
  width: inherit;
  margin-left: 10px;
}
.input__body input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background: transparent !important;
}
