.node__menu {
  max-height: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  z-index: 200;
  border-radius: 8px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
