:root {
  --footer-height: 20px;
  min-height: 100vh;
}

.layout__body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main__content {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
}

.main__content::-webkit-scrollbar {
  width: 8px;
}

.main__content::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Show the scrollbar when user hovers */
.main__content:hover {
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

.main__content:hover::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
    overflow: auto;
    height: 100vh;
  }

  .header {
    display: none;
  }
}
